<ion-view view-title="Tentang Jukir">
     <ion-nav-bar class="bar bar-header bar-assertive">
        <ion-nav-back-button>
    </ion-nav-bar>
        <ion-content class="padding">
            <div class="row responsive-sm">
                <div class="about">
                    <h2>Tentang Jukir</h2>

                    <p><strong>Apa itu Jukir?</strong></p>
                    <p>Jukir (Juru Ongkir) adalah aplikasi yang digunakan untuk melihat tarif ongkos kirim dengan menggunakan kurir JNE, POS dan TIKI tanpa harus membuka website/apps kurir masing-masing jasa Pengiriman.</p>

                    <h2>Cara menggunakan Jukir</h2>
                    <p>1. Masuk kebagian tab ongkir</p>
                    <p>2. Pilih asal dan tujuan pengiriman barang</p>
                    <p>3. Isi berat barang yang dikirim</p>
                    <p>4. Pilih kurir</p>
                    <p>5. Simple kan</p>
                    

                    <h2>Prak Distributed System 2017</h2>
                    <p><strong>Aghna Fikrunafuddin - 15650112</strong></p>
                    <p><strong>Barly Vallendito - 15650121</strong></p>
                    <p><strong>Hazmie Asyiq El Haq - 15650128</strong></p>

            </div>
        </div>
        </ion-content>
</ion-view>