<ion-view view-title="Dashboard">
	<ion-nav-bar class="bar bar-header bar-assertive">
    	<ion-nav-back-button>
  	</ion-nav-bar>
		<ion-content>
		    <div class="row responsive-sm">
		        <div class="dashboard">
		        	<h2>Jukir (Juru Ongkir)</h2>
		            <p>Jukir adalah cek ongkos kirim barang dengan kurir JNE, POS dan TIKI</p>
		        	<div class="row">
		        		<div class="col col-50">
		        			<div class="card">
							  <div class="item">
							    <img src="img/home.png" alt="">
							  </div>
							</div>
		        		</div>

		        		<div class="col col-50">
		        			<div class="card">
								  <div class="item">
								    <img src="img/cekongkir.png" alt="">
								  </div>
								</div>	
		        		</div>
		        	</div>

		        	<div class="row">
		        		<div class="col col-50">
		        			<div class="card">
							  <div class="item">
							    <img src="img/promo.png" alt="">
							  </div>
							</div>
		        		</div>

		        		<div class="col col-50">
		        			<div class="card">
								  <div class="item">
								    <img src="img/tentang.png" alt="">
								  </div>
								</div>	
		        		</div>
		        	</div>

		    </div>
		</div>
		</ion-content>
</ion-view>