<ion-view view-title="Promo">
     <ion-nav-bar class="bar bar-header bar-assertive">
        <ion-nav-back-button>
    </ion-nav-bar>
        <ion-content class="padding">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="img/jne.jpg">
                        <h2>JNE</h2>
                        <p>Promo JNExBukalapak 2017</p>
                </div>

                <div class="item item-image">
                    <img src="img/1.jpg">
                </div>

                <a class="item item-icon-left assertive" href="https://www.bukalapak.com/promo-detail/jne-gratis-ongkos-kirim-setiap-hari">
                    <i class="icon ion-bookmark"></i>
                    Cek Promo
                </a>

             </div>

             <div class="list card">
                <div class="item item-avatar">
                    <img src="img/jne.jpg">
                        <h2>JNE</h2>
                        <p>Promo JNE 2017</p>
                </div>

                <div class="item item-image">
                    <img src="img/2.jpg">
                </div>

                <a class="item item-icon-left assertive" href="http://www.jne.co.id/en/news/event-and-promo/promosi">
                    <i class="icon ion-bookmark"></i>
                    Cek Promo
                </a>
             </div>

             <div class="list card">
                <div class="item item-avatar">
                    <img src="img/jne.jpg">
                        <h2>JNE</h2>
                        <p>Promo JNE 2017</p>
                </div>

                <div class="item item-image">
                    <img src="img/3.jpg">
                </div>

                <a class="item item-icon-left assertive" href="http://www.jne.co.id/en/news/event-and-promo/promosi">
                    <i class="icon ion-bookmark"></i>
                    Cek Promo
                </a>
             </div>

             <div class="list card">
                <div class="item item-avatar">
                    <img src="img/jne.jpg">
                        <h2>JNE</h2>
                        <p>Promo JNE</p>
                </div>

                <div class="item item-image">
                    <img src="img/4.jpg">
                </div>

                <a class="item item-icon-left assertive" href="http://www.jne.co.id/en/news/event-and-promo/promosi">
                    <i class="icon ion-bookmark"></i>
                    Cek Promo
                </a>
            </div>

             <div class="list card">
                 <div class="item item-avatar">
                    <img src="img/jne.jpg">
                        <h2>JNE</h2>
                        <p>Promo JNE 2017</p>
                </div>

                <div class="item item-image">
                    <img src="img/5.jpg">
                </div>

                <a class="item item-icon-left assertive" href="http://www.jne.co.id/en/news/event-and-promo/promosi">
                    <i class="icon ion-bookmark"></i>
                    Cek Promo
                </a>
             </div>

        </ion-content>
</ion-view>